.progress-container {
    width: 400px;
  }
  
  .progress-container div {
    width:32%;
    float: left;
    text-align: center;
    vertical-align: middle;
    border: 1px solid gray;
    height: 20px;
  }
  
  .progress-container div:first-child {
    border-top-left-radius: 10px;
    background-color: green;
    color: white;
  }
  
  .progress-container div:last-child {
    border-top-right-radius: 10px;
  }
  
  .progress-container div:first-child {
    border-bottom-left-radius: 10px;
  }
  
  .progress-container div:last-child {
    border-bottom-right-radius: 10px;
  }
  
  .progress-container div:not(:first-child) {
    border-left:0px;
  }